{% block lieferzeiten_domain_selection %}
    <div class="lieferzeiten-domain-selection">
        <sw-single-select
            v-model="selectedDomain"
            :options="channelOptions"
            :placeholder="$t('lieferzeiten.domainSelection.channelPlaceholder')"
            :clearable="false"
            :disabled="showDomainModal || !selectedGroup"
        />

        <sw-button
            size="small"
            variant="ghost"
            class="lieferzeiten-domain-selection__reset"
            @click="resetDomainSelection"
        >
            {{ $t('lieferzeiten.domainSelection.reset') }}
        </sw-button>

        <sw-modal
            v-if="showDomainModal"
            :title="$t('lieferzeiten.domainSelection.modalTitle')"
            @modal-close="confirmDomainSelection"
        >
            <p>{{ $t('lieferzeiten.domainSelection.modalDescription') }}</p>

            <sw-label>
                {{ $t('lieferzeiten.domainSelection.steps.group') }}
            </sw-label>
            <sw-single-select
                v-model="selectedGroup"
                :options="groupOptions"
                :placeholder="$t('lieferzeiten.domainSelection.groupPlaceholder')"
                :clearable="false"
                required
            />

            <template v-if="modalStep === 2">
                <sw-label>
                    {{ $t('lieferzeiten.domainSelection.steps.channel') }}
                </sw-label>
                <sw-single-select
                    v-model="selectedDomain"
                    :options="channelOptions"
                    :placeholder="$t('lieferzeiten.domainSelection.channelPlaceholder')"
                    :clearable="false"
                    required
                />
            </template>

            <sw-switch-field
                v-model="persistSelection"
                :label="$t('lieferzeiten.domainSelection.persistLabel')"
            />

            <template #modal-footer>
                <sw-button
                    v-if="modalStep === 2"
                    size="small"
                    variant="ghost"
                    @click="goToGroupStep"
                >
                    {{ $t('lieferzeiten.domainSelection.back') }}
                </sw-button>

                <sw-button
                    v-if="modalStep === 1"
                    size="small"
                    variant="primary"
                    :disabled="!canGoToChannelStep"
                    @click="goToChannelStep"
                >
                    {{ $t('lieferzeiten.domainSelection.next') }}
                </sw-button>

                <sw-button
                    v-else
                    size="small"
                    variant="primary"
                    :disabled="!canConfirmSelection"
                    @click="confirmDomainSelection"
                >
                    {{ $t('lieferzeiten.domainSelection.confirm') }}
                </sw-button>
            </template>
        </sw-modal>
    </div>
{% endblock %}
