{% block lieferzeiten_domain_selection %}
    <div class="lieferzeiten-domain-selection">
        <sw-label>
            {{ $t('lieferzeiten.domainSelection.steps.bereich') }}
        </sw-label>

        <sw-single-select
            v-model="selectedBereich"
            :options="groupOptions"
            :placeholder="$t('lieferzeiten.domainSelection.bereichPlaceholder')"
            :clearable="false"
        />

        <sw-label>
            {{ $t('lieferzeiten.domainSelection.steps.channel') }}
        </sw-label>

        <sw-single-select
            v-model="selectedChannel"
            :options="channelOptions"
            :placeholder="$t('lieferzeiten.domainSelection.channelPlaceholder')"
            :clearable="false"
            :disabled="!canSelectChannel"
        />

        <sw-switch-field
            v-model="persistSelection"
            :label="$t('lieferzeiten.domainSelection.persistLabel')"
        />

        <sw-button
            size="small"
            variant="ghost"
            class="lieferzeiten-domain-selection__reset"
            @click="resetDomainSelection"
        >
            {{ $t('lieferzeiten.domainSelection.reset') }}
        </sw-button>
    </div>
{% endblock %}
