{% block lieferzeiten_domain_selection %}
    <div class="lieferzeiten-domain-selection">
        <sw-single-select
            v-model="selectedChannel"
            :options="channelOptions"
            :placeholder="$t('lieferzeiten.domainSelection.channelPlaceholder')"
            :clearable="false"
            :disabled="showDomainModal || !selectedGroup"
        />

        <sw-button
            size="small"
            variant="ghost"
            class="lieferzeiten-domain-selection__reset"
            @click="resetDomainSelection"
        >
            {{ $t('lieferzeiten.domainSelection.reset') }}
        </sw-button>

        <sw-modal
            v-if="showDomainModal"
            :title="$t('lieferzeiten.domainSelection.modalTitle')"
            @modal-close="confirmGroupSelection"
        >
            <p>{{ $t('lieferzeiten.domainSelection.modalDescription') }}</p>

            <sw-label>
                {{ $t('lieferzeiten.domainSelection.steps.group') }}
            </sw-label>
            <sw-single-select
                v-model="draftGroup"
                :options="groupOptions"
                :placeholder="$t('lieferzeiten.domainSelection.groupPlaceholder')"
                :clearable="false"
                required
            />

            <sw-switch-field
                v-model="persistSelection"
                :label="$t('lieferzeiten.domainSelection.persistLabel')"
            />

            <template #modal-footer>
                <sw-button
                    size="small"
                    variant="primary"
                    :disabled="!canConfirmGroupSelection"
                    @click="confirmGroupSelection"
                >
                    {{ $t('lieferzeiten.domainSelection.confirmGroup') }}
                </sw-button>
            </template>
        </sw-modal>
    </div>
{% endblock %}
