{% block test_admin_menu_page %}
    <sw-page class="test-admin-menu-page">
        <template #content>
            <div class="sw-card">
                <div class="sw-card__content">
                    Hallo
                </div>
            </div>
        </template>
    </sw-page>
{% endblock %}
