{% block lieferzeiten_management_page %}
    <sw-page class="lieferzeiten-management-page">
        <template #content>
            <sw-card :title="$t('lieferzeiten-management.general.filtersTitle')" class="lieferzeiten-management-page__filters">
                <div class="lieferzeiten-management-page__filters-grid">
                    <sw-text-field
                        v-model="trackingFilter"
                        :label="$t('lieferzeiten-management.general.filterTracking')"
                        @change="onRefresh"
                    />
                    <sw-text-field
                        v-model="packageStatusFilter"
                        :label="$t('lieferzeiten-management.general.filterPackageStatus')"
                        @change="onRefresh"
                    />
                    <sw-datepicker
                        v-model="shippedFrom"
                        date-type="date"
                        :label="$t('lieferzeiten-management.general.filterShippedFrom')"
                        @change="onRefresh"
                    />
                    <sw-datepicker
                        v-model="shippedTo"
                        date-type="date"
                        :label="$t('lieferzeiten-management.general.filterShippedTo')"
                        @change="onRefresh"
                    />
                    <sw-datepicker
                        v-model="deliveredFrom"
                        date-type="date"
                        :label="$t('lieferzeiten-management.general.filterDeliveredFrom')"
                        @change="onRefresh"
                    />
                    <sw-datepicker
                        v-model="deliveredTo"
                        date-type="date"
                        :label="$t('lieferzeiten-management.general.filterDeliveredTo')"
                        @change="onRefresh"
                    />
                </div>
            </sw-card>

            <sw-card>
                <sw-entity-listing
                    :items="items"
                    :repository="repository"
                    :columns="columns"
                    :isLoading="isLoading"
                    :total="total"
                    :showSelection="false"
                    @page-change="onPageChange"
                />
            </sw-card>
        </template>
    </sw-page>
{% endblock %}
