<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/trunk/src/Core/System/SystemConfig/Schema/config.xsd">
    <card>
        <title lang="en-GB">External Orders</title>
        <title lang="de-DE">Externe Bestellungen</title>

        <input-field type="int">
            <name>defaultColumnsPerPage</name>
            <label lang="en-GB">Default columns per page</label>
            <label lang="de-DE">Standardspalten pro Seite</label>
            <defaultValue>25</defaultValue>
        </input-field>

        <input-field type="text">
            <name>pageNameDe</name>
            <label lang="en-GB">Page name (German)</label>
            <label lang="de-DE">Seitenname (Deutsch)</label>
            <defaultValue>Externe Bestellungen</defaultValue>
        </input-field>

        <input-field type="text">
            <name>pageNameEn</name>
            <label lang="en-GB">Page name (English)</label>
            <label lang="de-DE">Seitenname (Englisch)</label>
            <defaultValue>External Orders</defaultValue>
        </input-field>

        <input-field type="float">
            <name>externalOrdersTimeout</name>
            <label lang="en-GB">External Orders API timeout (seconds)</label>
            <label lang="de-DE">External Orders API-Timeout (Sekunden)</label>
            <helpText lang="en-GB">Timeout for each external orders API request.</helpText>
            <helpText lang="de-DE">Timeout für jede External Orders API-Anfrage.</helpText>
            <defaultValue>2.5</defaultValue>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlB2b</name>
            <label lang="en-GB">API URL: B2B</label>
            <label lang="de-DE">API-URL: B2B</label>
        </input-field>
        <input-field type="text">
            <name>externalOrdersApiTokenB2b</name>
            <label lang="en-GB">API Token: B2B</label>
            <label lang="de-DE">API-Token: B2B</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlEbayDe</name>
            <label lang="en-GB">API URL: Ebay.DE</label>
            <label lang="de-DE">API-URL: Ebay.DE</label>
        </input-field>
        <input-field type="text">
            <name>externalOrdersApiTokenEbayDe</name>
            <label lang="en-GB">API Token: Ebay.DE</label>
            <label lang="de-DE">API-Token: Ebay.DE</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlKaufland</name>
            <label lang="en-GB">API URL: Kaufland</label>
            <label lang="de-DE">API-URL: Kaufland</label>
        </input-field>
        <input-field type="text">
            <name>externalOrdersApiTokenKaufland</name>
            <label lang="en-GB">API Token: Kaufland</label>
            <label lang="de-DE">API-Token: Kaufland</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlEbayAt</name>
            <label lang="en-GB">API URL: Ebay.AT</label>
            <label lang="de-DE">API-URL: Ebay.AT</label>
        </input-field>
        <input-field type="text">
            <name>externalOrdersApiTokenEbayAt</name>
            <label lang="en-GB">API Token: Ebay.AT</label>
            <label lang="de-DE">API-Token: Ebay.AT</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlZonami</name>
            <label lang="en-GB">API URL: Zonami</label>
            <label lang="de-DE">API-URL: Zonami</label>
        </input-field>
        <input-field type="text">
            <name>externalOrdersApiTokenZonami</name>
            <label lang="en-GB">API Token: Zonami</label>
            <label lang="de-DE">API-Token: Zonami</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlPeg</name>
            <label lang="en-GB">API URL: PEG</label>
            <label lang="de-DE">API-URL: PEG</label>
        </input-field>
        <input-field type="text">
            <name>externalOrdersApiTokenPeg</name>
            <label lang="en-GB">API Token: PEG</label>
            <label lang="de-DE">API-Token: PEG</label>
        </input-field>

        <input-field type="text">
            <name>externalOrdersApiUrlBezb</name>
            <label lang="en-GB">API URL: BEZB</label>
            <label lang="de-DE">API-URL: BEZB</label>
        </input-field>
        <input-field type="text">
            <name>externalOrdersApiTokenBezb</name>
            <label lang="en-GB">API Token: BEZB</label>
            <label lang="de-DE">API-Token: BEZB</label>
        </input-field>

        <input-field type="text">
            <name>sourceB2b</name>
            <label lang="en-GB">Overview source: First-medical-shop.de (B2B)</label>
            <label lang="de-DE">Übersicht-Quelle: First-medical-shop.de (B2B)</label>
            <helpText lang="en-GB">Define where the orders for this overview come from (API, Excel import, etc.).</helpText>
            <helpText lang="de-DE">Definiert, woher die Bestellungen für diese Übersicht kommen (API, Excel-Import, etc.).</helpText>
            <defaultValue>API</defaultValue>
        </input-field>

        <input-field type="text">
            <name>sourceEbayDe</name>
            <label lang="en-GB">Overview source: Ebay.DE</label>
            <label lang="de-DE">Übersicht-Quelle: Ebay.DE</label>
            <helpText lang="en-GB">Define where the orders for this overview come from (API, Excel import, etc.).</helpText>
            <helpText lang="de-DE">Definiert, woher die Bestellungen für diese Übersicht kommen (API, Excel-Import, etc.).</helpText>
            <defaultValue>API</defaultValue>
        </input-field>

        <input-field type="text">
            <name>sourceKaufland</name>
            <label lang="en-GB">Overview source: KaufLand</label>
            <label lang="de-DE">Übersicht-Quelle: KaufLand</label>
            <helpText lang="en-GB">Define where the orders for this overview come from (API, Excel import, etc.).</helpText>
            <helpText lang="de-DE">Definiert, woher die Bestellungen für diese Übersicht kommen (API, Excel-Import, etc.).</helpText>
            <defaultValue>API</defaultValue>
        </input-field>

        <input-field type="text">
            <name>sourceEbayAt</name>
            <label lang="en-GB">Overview source: Ebay.AT</label>
            <label lang="de-DE">Übersicht-Quelle: Ebay.AT</label>
            <helpText lang="en-GB">Define where the orders for this overview come from (API, Excel import, etc.).</helpText>
            <helpText lang="de-DE">Definiert, woher die Bestellungen für diese Übersicht kommen (API, Excel-Import, etc.).</helpText>
            <defaultValue>API</defaultValue>
        </input-field>

        <input-field type="text">
            <name>sourceZonami</name>
            <label lang="en-GB">Overview source: Zonami</label>
            <label lang="de-DE">Übersicht-Quelle: Zonami</label>
            <helpText lang="en-GB">Define where the orders for this overview come from (API, Excel import, etc.).</helpText>
            <helpText lang="de-DE">Definiert, woher die Bestellungen für diese Übersicht kommen (API, Excel-Import, etc.).</helpText>
            <defaultValue>API</defaultValue>
        </input-field>

        <input-field type="text">
            <name>sourcePeg</name>
            <label lang="en-GB">Overview source: PEG</label>
            <label lang="de-DE">Übersicht-Quelle: PEG</label>
            <helpText lang="en-GB">Define where the orders for this overview come from (API, Excel import, etc.).</helpText>
            <helpText lang="de-DE">Definiert, woher die Bestellungen für diese Übersicht kommen (API, Excel-Import, etc.).</helpText>
            <defaultValue>API</defaultValue>
        </input-field>

        <input-field type="text">
            <name>sourceBezb</name>
            <label lang="en-GB">Overview source: BEZB</label>
            <label lang="de-DE">Übersicht-Quelle: BEZB</label>
            <helpText lang="en-GB">Define where the orders for this overview come from (API, Excel import, etc.).</helpText>
            <helpText lang="de-DE">Definiert, woher die Bestellungen für diese Übersicht kommen (API, Excel-Import, etc.).</helpText>
            <defaultValue>API</defaultValue>
        </input-field>
    </card>
</config>
