<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://www.shopware.com/schemas/config/1.0/config.xsd">
    <card>
        <title>San6 API</title>
        <input-field type="text">
            <name>san6ApiBaseUrl</name>
            <label>San6 API Base URL</label>
        </input-field>
        <input-field type="text">
            <name>san6ApiToken</name>
            <label>San6 API Token</label>
        </input-field>
    </card>
    <card>
        <title>Tracking API</title>
        <input-field type="text">
            <name>trackingApiBaseUrl</name>
            <label>Tracking API Base URL</label>
        </input-field>
        <input-field type="text">
            <name>trackingApiToken</name>
            <label>Tracking API Token</label>
        </input-field>
    </card>
</config>
