{% block lieferzeiten_management_settings_page %}
    <sw-page class="lieferzeiten-management-settings-page">
        <template #smart-bar-header>
            <h2>{{ $t('lieferzeiten-management.settings.title') }}</h2>
        </template>

        <template #smart-bar-actions>
            <sw-button variant="primary" @click="addMapping">
                {{ $t('lieferzeiten-management.settings.addMapping') }}
            </sw-button>
            <sw-button variant="primary" @click="addTaskAssignment">
                {{ $t('lieferzeiten-management.settings.addTaskAssignment') }}
            </sw-button>
        </template>

        <sw-card :title="$t('lieferzeiten-management.settings.mappingTitle')">
            <sw-loader v-if="isLoading" />
            <div v-else class="lieferzeiten-management-settings-page__list">
                <p v-if="!items.length" class="lieferzeiten-management-settings-page__empty">
                    {{ $t('lieferzeiten-management.settings.emptyState') }}
                </p>

                <div
                    v-for="item in items"
                    :key="item.id"
                    class="lieferzeiten-management-settings-page__row"
                >
                    <sw-entity-single-select
                        v-model="item.salesChannelId"
                        entity="sales_channel"
                        :label="$t('lieferzeiten-management.settings.salesChannelLabel')"
                        :placeholder="$t('lieferzeiten-management.settings.salesChannelPlaceholder')"
                    />
                    <sw-single-select
                        v-model="item.area"
                        :options="areaOptions"
                        :label="$t('lieferzeiten-management.settings.areaLabel')"
                        :placeholder="$t('lieferzeiten-management.settings.areaPlaceholder')"
                    />
                    <div class="lieferzeiten-management-settings-page__actions">
                        <sw-button size="small" variant="primary" @click="saveMapping(item)">
                            {{ $t('global.default.save') }}
                        </sw-button>
                        <sw-button size="small" variant="danger" @click="deleteMapping(item)">
                            {{ $t('global.default.delete') }}
                        </sw-button>
                    </div>
                </div>
            </div>
        </sw-card>

        <sw-card :title="$t('lieferzeiten-management.settings.taskAssignmentTitle')">
            <sw-loader v-if="isAssignmentLoading" />
            <div v-else class="lieferzeiten-management-settings-page__list">
                <p v-if="!taskAssignments.length" class="lieferzeiten-management-settings-page__empty">
                    {{ $t('lieferzeiten-management.settings.taskAssignmentEmptyState') }}
                </p>

                <div
                    v-for="assignment in taskAssignments"
                    :key="assignment.id"
                    class="lieferzeiten-management-settings-page__row"
                >
                    <sw-entity-single-select
                        v-model="assignment.salesChannelId"
                        entity="sales_channel"
                        :label="$t('lieferzeiten-management.settings.taskAssignmentSalesChannelLabel')"
                        :placeholder="$t('lieferzeiten-management.settings.taskAssignmentSalesChannelPlaceholder')"
                    />
                    <sw-single-select
                        v-model="assignment.area"
                        :options="areaOptions"
                        :label="$t('lieferzeiten-management.settings.taskAssignmentAreaLabel')"
                        :placeholder="$t('lieferzeiten-management.settings.taskAssignmentAreaPlaceholder')"
                    />
                    <sw-single-select
                        v-model="assignment.taskType"
                        :options="taskTypeOptions"
                        :label="$t('lieferzeiten-management.settings.taskAssignmentTypeLabel')"
                        :placeholder="$t('lieferzeiten-management.settings.taskAssignmentTypePlaceholder')"
                    />
                    <sw-entity-single-select
                        v-model="assignment.assignedUserId"
                        entity="user"
                        label-property="username"
                        :label="$t('lieferzeiten-management.settings.taskAssignmentUserLabel')"
                        :placeholder="$t('lieferzeiten-management.settings.taskAssignmentUserPlaceholder')"
                    />
                    <div class="lieferzeiten-management-settings-page__actions">
                        <sw-button size="small" variant="primary" @click="saveTaskAssignment(assignment)">
                            {{ $t('global.default.save') }}
                        </sw-button>
                        <sw-button size="small" variant="danger" @click="deleteTaskAssignment(assignment)">
                            {{ $t('global.default.delete') }}
                        </sw-button>
                    </div>
                </div>
            </div>
        </sw-card>
    </sw-page>
{% endblock %}
