{% block lieferzeiten_index %}
    <sw-page class="lieferzeiten-index">
        <template #smart-bar-header>
            <h2>
                {{ $t('lieferzeiten.general.mainMenuItemGeneral') }}
            </h2>
        </template>

        <template #smart-bar-actions>
            <lieferzeiten-domain-selection v-model="selectedDomain" />
        </template>

        <template #content>
            <sw-card-view>
                <sw-card class="lieferzeiten-index__info" :title="$t('lieferzeiten.general.infoTitle')">
                    <p>{{ $t('lieferzeiten.general.timezoneInfo') }}</p>
                    <p>{{ $t('lieferzeiten.general.openDefinition') }}</p>
                </sw-card>

                <sw-card class="lieferzeiten-index__tabs">
                    <sw-loader v-if="isLoading" />

                    <sw-empty-state
                        v-else-if="loadError"
                        :title="$t('lieferzeiten.loading.errorTitle')"
                        :subline="$t('lieferzeiten.loading.errorDescription')"
                    >
                        <template #actions>
                            <sw-button variant="primary" @click="loadOrders">
                                {{ $t('lieferzeiten.loading.retry') }}
                            </sw-button>
                        </template>
                    </sw-empty-state>

                    <template v-else>
                        <sw-tabs>
                            <sw-tabs-item
                                :to="{ name: 'lieferzeiten.all' }"
                                :title="$t('lieferzeiten.tabs.all')"
                            >
                                {{ $t('lieferzeiten.tabs.all') }}
                            </sw-tabs-item>
                            <sw-tabs-item
                                :to="{ name: 'lieferzeiten.open' }"
                                :title="$t('lieferzeiten.tabs.open')"
                            >
                                {{ $t('lieferzeiten.tabs.open') }}
                            </sw-tabs-item>

                            <sw-tabs-item
                                :to="{ name: 'lieferzeiten.statistics' }"
                                :title="$t('lieferzeiten.tabs.statistics')"
                            >
                                {{ $t('lieferzeiten.tabs.statistics') }}
                            </sw-tabs-item>
                        </sw-tabs>

                        <router-view
                            :orders="filteredOrders"
                            :selected-domain="selectedDomain"
                            :on-reload-order="loadOrders"
                            :statistics-metrics="statisticsMetrics"
                        />
                    </template>
                </sw-card>
            </sw-card-view>
        </template>
    </sw-page>
{% endblock %}
